@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-background: #F3F4F6;
  --default-text: black;
}

body {
  background-color: var(--default-background);
  color: var(--default-text);
  font-family: "mono", sans-serif;
}
